<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Appetizer details</title>
</head>
<body>
    <form method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter Your Name"/> 
            <br>
            <br>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Enter Your Email"/> 
            <br>
            <br>
            <label for="pswd">Password</label>
            <input type="text" name="pswd" placeholder="Enter Your password"/> 
            <br>
            <br>
            <label for="phone">Phone No.</label>
            <input type="text" name="phone" placeholder="Enter Your Number"/> 
            <br>
            <br>
            <input type="submit" name="Submit"/>
            <a href="./giveReview.html">Reviewer Details</a>
    </form>
    
</body>
</html>