<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="email">Email</label>
        <input type="text" name="Email" placeholder="Enter Your Email"/> 
        <br>
        <br>
        <label for="pswd">Email</label>
        <input type="password" name="pswd" placeholder="Enter Your password"/> 
        <input type="submit" name="Login"/>
            
    </form>
    
</body>
</html>
